/* Notes
Planets: Check to see why planets aren't responsive*/

body{
    background-image: url("Images/stars.jpg");
}

h1{
    font-family: 'Indie Flower', cursive; /*Font linked from Google Fonts*/
    letter-spacing: 3px;
    font-size:60pt;
    text-align: center;
    margin-top: -15px;
    color: white;
}

.number{
    font-family: 'Orbitron', sans-serif;
    color: white;
}

#scoreBox{
    text-align: right;
    border: solid white;
    margin-top: -70px;
    margin-left: 75%; 
    text-align: center;
    vertical-align: center;
    font-family: 'Indie Flower', cursive; /*Font linked from Google Fonts*/
    color: white;
    font-size: 14pt;
    letter-spacing: 3pt; /*Space letters in title*/
    background-color:rgba(22, 54, 141, .8); /*color to match of of the background planets*/
    width: 200px;
    height: 60px;
    border-radius: 20px; /*round edges of div*/
    padding-top: 8px; /*bring the text down closer to the middle*/
}

.solarSystem{
    display: flex;
    align-items: center;
}

.sun{
    position: relative;
    right: 35%;
    margin-top: -180px;
    animation: rotateSun 200s infinite;
    z-index: 1; 
}

@keyframes rotateSun{
    0% {

    }
    100%{
        transform: rotate(360deg);
        /* rotate the object based on deg*/
    }
}

.planets{
    margin-top: -50px;
    position: absolute;
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#level{
    text-align: right;
    border: solid white;
    margin-top: -150px;
    margin-left: 48%; 
    text-align: center;
    vertical-align: center;
    font-family: 'Indie Flower', cursive; /*Font linked from Google Fonts*/
    color: white;
    font-size: 18pt;
    letter-spacing: 3pt; /*Space letters in title*/
    background-color:rgba(22, 54, 141, .8); 
    width: 200px;
    height: 100px;
    border-radius: 20px; /*round edges of div*/
    padding-top: 8px; /*bring the text down closer to the middle*/
}

ul{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: -5px;
    line-height: 18pt;
    font-size: 14pt;
    list-style-type: none;
}
li{
    margin-left: -40px;
}

#highScore{
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    border: solid white;
    margin-top: -115px;
    margin-left: 65%; 
    text-align: center;
    vertical-align: center;
    font-family: 'Indie Flower', cursive; /*Font linked from Google Fonts*/
    color: white;
    font-size: 14pt;
    letter-spacing: 3pt; /*Space letters in title*/
    background-color:rgba(22, 54, 141, .8); 
    width: 400px;
    height: 100px;
    border-radius: 20px; /*round edges of div*/
    padding-top: 8px; /*bring the text down closer to the middle*/
}

table{ 
    margin: 0 auto;
    font-size: 10pt;
    text-align: left;
}

td{
    padding:5px 45px 0 15px; /*add spacing between the columns*/
}

/*styling the planets*/

#mercury{
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}

#venus{
    cursor: pointer;
    position: relative;
    margin-left: 25px;
    border-radius: 50%;
}

#earth{
    cursor: pointer;
    position: relative;
    margin-left: 25px;
    border-radius: 50%;
}

#mars{
    cursor: pointer;
    position: relative;
    margin-left: 25px;
    border-radius: 50%;
}

/*styling levels*/

#easy{
    cursor: pointer;
}

#medium{
    cursor: pointer;
}

#hard{
    cursor: pointer;
}